.main-container {
    display: flex;
    flex-direction: column; /* Makes the flexbox vertical */
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    height: 100vh; /* Makes the container take up the full height of the viewport */
    margin: 0; /* Removes default margin */
}

.field-widget{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    place-items: center;
}
.field-widget-text{
    height: 15px;
}

.field-widget-input{
    height: 15px;
}

body {
  background: linear-gradient(to bottom, white, blue);
}
